<template>
  <div class="column">
    <div class="has-text-centered">
      <div id="ventana" class="glowing-border has-background-black">
        <Mensaje
          v-for="(mensaje,key) in mensajes"
          :key="key"
          :msg="mensaje.msg"
          :tipo="mensaje.tipo"
        />
      </div>
      <section class="is-narrow">
        <div class="hero-foot">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input
                type="text"
                style="color:white;"
                class="input has-background-black is-white"
                v-model="usermsg"
                @keydown="habilitar"
                placeholder="Type your message"
                maxlength="120"
              >
            </div>
            <div class="control">
              <button class="button is-info" @click="enviar" :disabled="buttonDisabled">Send</button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div v-show="opciones" class="section">
      <div class="title has-text-white">Conetando con : {{this.ip}}</div>
      <button @click="init(true)" class="button is-info">Servidor</button>
    </div>
    <b-modal :active.sync="isconnectedmodal" has-modal-card :canCancel="false">
      <modalAccept @listo="actuar"></modalAccept>
    </b-modal>
  </div>
</template>

<script>
import Mensaje from "./Mensaje";
var ClientServer = require("./Scripts/client-server.js");
const easysocket = require("./Scripts/LIBS/easysocket.js");
import modalAccept from "./modalAccept";
export default {
  components: {
    Mensaje,
    modalAccept
  },
  props: {
    ip: String
  },
  data() {
    return {
      usermsg: "",
      mensajes: [], //[{ msg: "Hola", tipo: true }, { msg: "Adios", tipo: false }],
      buttonDisabled: true,
      opciones: true,
      CS: null,
      cliente: null,
      isServer: false,
      server: null,
      client: null,
      clientes: [],
      cliente_server: "127.0.0.1",
      isconnectedmodal: true
    };
  },
  methods: {
    enviar() {
      var obj = { msg: this.usermsg, tipo: false };
      this.mensajes.push(obj);
      if (this.isServer) {
        this.CS.Envia(this.cliente, obj);
      } else {
        this.CS.Envia(this.CS.sock, obj);
      }
      this.usermsg = "";
      this.buttonDisabled = true;
      this.scrollToEnd();
    },
    habilitar() {
      if (180 > this.usermsg.length > 0) {
        this.buttonDisabled = false;
      } else {
        this.buttonDisabled = true;
      }
    },
    scrollToEnd() {
      var container = this.$el.querySelector("#ventana");
      container.scrollTop = container.scrollHeight;
    },
    init(op) {
      this.opciones = false;
      if (op) {
        this.isServer = true;
        this.CS = new ClientServer.default(3000, "Servidor");
        console.log("Servidor inicializado");
        this.CS.initServer();
        this.CS.sock.on("connection", sock => {
          this.success();
          this.cliente = sock;
          sock.on("data", data => {
            easysocket.recieve(sock, data, (socket, buffer) => {
              var obj = this.CS.parser(buffer);
              this.mensajes.push({ msg: obj.msg, tipo: true });
            });
          });
          sock.on("error", error => {
            console.log("Desconectado");
            this.CS.sock.close();
          });
        });
      } else {
        this.CS = new ClientServer.default(3000, "Cliente");
        console.log("Cliente inicializado");
        this.CS.initCli();
        this.CS.sock.connect(3000, this.ip, () => {
          this.success();
        });
        this.CS.sock.on("data", data => {
          easysocket.recieve(this.CS.sock, data, (socket, buffer) => {
            var obj = this.CS.parser(buffer);
            this.mensajes.push({ msg: obj.msg, tipo: true });
            this.scrollToEnd();
          });
        });
        this.CS.sock.on("error", error => {
          console.log("Desconectado");
          console.log(error);
        });
      }
    },
    verClientes() {
      console.log(this.clientes);
    },
    success() {
      this.$toast.open({
        message: "¡Conectado con usuario!",
        type: "is-success"
      });
    },
    actuar(opt) {
      this.isconnectedmodal = false;
      console.log(opt);
    }
  }
};
</script>
<style>
#ventana::-webkit-scrollbar {
  display: none;
}
#ventana {
  overflow-y: auto;
  height: 300px;
  overflow-x: inherit;
}
input {
  border: 1px solid #a8a8a8;
}

input::-webkit-input-placeholder {
  color: white;
}
input:hover::-webkit-input-placeholder {
  color: white;
}

/* Firefox < 19 */
input:-moz-placeholder {
  color: white;
}
input:hover:-moz-placeholder {
  color: white;
}

/* Firefox > 19 */
input::-moz-placeholder {
  color: #999;
}
input:hover::-moz-placeholder {
  color: white;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
  color: white;
}
input:hover:-ms-input-placeholder {
  color: white;
}
.glowing-border {
  border: 2px solid #dadada;
  border-radius: 7px;
}

.glowing-border:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
</style>
