<template>
  <div v-if="tipo" class="is-fullwidth someone-message">{{msg}}</div>
  <div v-else class="is-fullwidth your-message">{{msg}}</div>
</template>

<script>
export default {
  props: {
    msg: String,
    tipo: Boolean
  }
};
</script>
<style>
.someone-message {
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  background: #007bff;
  color: white;
  text-align: left;
}

.your-message {
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  background: #007bff;
  color: white;
  text-align: right;
}
</style>

