<template>
  <div class="modal-card">
    <header class="modal-card-head backer is-marginless">
      <p class="modal-card-title has-text-white">Aceptar conexion</p>
    </header>
    <section class="is-marginless backer2 modal-card-body">
      <div class="is-centered">
        <b-field label="Tracker">
            <b-input v-model="name"></b-input>
        </b-field>
        <button class="button is-primary">Acceptar</button>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data() {
    return {
        name:''
    };
  },
  methods: {
    aceptar(decision) {
      this.$emit("listo", { decision });
    }
  }
};
</script>
<style scoped>
.backer2 {
  border-bottom: none;
  border: 0px;
  background: #2c3e50;
}
.backer {
  border-bottom: none;
  border: 0px;
  background: #31485f;
}
</style>