<template>
  <div class="modal-card">
    <header class="modal-card-head backer is-marginless">
      <p class="modal-card-title has-text-white">Elige tus llaves</p>
    </header>
    <section class="is-marginless backer2 modal-card-body">
      <div class="is-centered">
        <b-field class="file">
          <p class="title has-text-white">
            Llave Publica
            <br>
          </p>
          <b-upload v-model="publicKey">
            <a class="button is-info">
              <b-icon icon="upload"></b-icon>
              <span>Click to upload</span>
            </a>
          </b-upload>
          <span class="file-name has-text-white" v-if="publicKey">{{ publicKey.name }}</span>
        </b-field>
        <b-field class="file">
          <p class="title has-text-white">
            Llave Privada
            <br>
          </p>
          <b-upload v-model="privateKey">
            <a class="button is-info">
              <b-icon icon="upload"></b-icon>
              <span>Click to upload</span>
            </a>
          </b-upload>
          <span class="file-name has-text-white" v-if="privateKey">{{ privateKey.name }}</span>
        </b-field>
      </div>
    </section>
    <footer class="modal-card-foot backer">
      <button class="button is-primary" type="button" @click="exit">Salir</button>
      <button class="button is-info" @click="entrar">Entrar</button>
      <button class="button is-success" @click="gen">Generar llaves</button>
    </footer>
  </div>
</template>
<script>
import { request } from "http";
const remote = require("electron").remote;
var tools = require("./Scripts/LIBS/cripto.js");
export default {
  data() {
    return {
      privateKey: null,
      publicKey: null
    };
  },
  methods: {
    exit() {
      var window = remote.getCurrentWindow();
      window.close();
    },
    entrar() {
      if (this.publicKey && this.privateKey) {
        this.$emit("listo", {
          public: this.publicKey.path,
          private: this.privateKey.path
        });
      } else {
        this.$toast.open({
          message: "Elige las llaves!",
          type: "is-danger"
        });
      }
    },
    gen() {
      var dialog = remote.require("electron").dialog;
      var path = dialog.showOpenDialog({
        properties: ["openDirectory"]
      });
      tools.genKeys(path).then(res => {
        if (res) {
          this.$toast.open({
            message: "Llaves generadas!",
            type: "is-success"
          });
        } else {
          this.$toast.open({
            message: "Error!",
            type: "is-danger"
          });
        }
      });
    }
  }
};
</script>
<style scoped>
.backer2 {
  border-bottom: none;
  border: 0px;
  background: #2c3e50;
}
.backer {
  border-bottom: none;
  border: 0px;
  background: #31485f;
}
</style>