<template>
  <div class="section back">
    <div id="app" class="box">
      <div class="container">
        <h1 class="title has-text-white">Messengure</h1>
      </div>
      <div class="columns">
        <Chat ref="chat" :ip="this.choosed" class="column is-three-quarters"/>
        <div class="column is-one-quarter">
          <div class="over altura" id="style-5">
            <b-table
              selectable
              @select="clicked"
              :data="data"
              :columns="columns"
              :row-class="rowClass"
            ></b-table>
          </div>
          <input class="input" type="text">
          <button class="button is-success is-fullwidth" @click="setTracker">Agregar tracker</button>
          <button class="button is-info is-fullwidth" @click="connect">Conectar</button>
        </div>
      </div>
      <b-modal :active.sync="isComponentModalActive" has-modal-card :canCancel="true">
        <Modal @listo="setDisabled"></Modal>
      </b-modal>
    </div>
  </div>
</template>

<script>
import Chat from "./components/Chat";
import Modal from "./components/Modal";
export default {
  name: "app",
  components: { Chat, Modal },
  data() {
    return {
      columns: [
        {
          field: "ip",
          label: "Usuario"
        }
      ],
      data: [{ ip: "Eric" }, { ip: "Raul" }, { ip: "Francisco" }],
      choosed: null,
      isComponentModalActive: true,
      publickey: null,
      privatekey: null,
      client: null,
      tableClassList: ["is-info"]
    };
  },
  methods: {
    clicked(elem) {
      this.choosed = elem.ip;
    },
    setDisabled(elem) {
      this.isComponentModalActive = false;
      this.publickey = elem.public;
      this.privatekey = elem.private;
      this.connectServer();
    },
    connectServer() {
      var net = require("net");
      var client = new net.Socket();
      client.connect(1234, "127.0.0.1", () => {
        client.write(JSON.stringify(["getAndUpdate", ["a"]]));
      });
      client.on("data", data => {
        this.data = JSON.parse(data.toString());
      });
      client.on("close", () => {
        client.write(JSON.stringify(["killMyself", ["a"]]));
      });
      client.on("error", error => {
        console.log(error);
      });
      this.client = client;
    },
    rowClass(row, index) {
      if (row.ip === this.choosed) {
        return "is-info";
      }
    },
    connect() {
      if (this.choosed) {
        this.$refs.chat.init(0);
      }
    },
    setTracker(){}
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #2c3e50;
}
.back {
  background: #2c3e50;
}
.over {
  overflow-y: auto;
}
.altura {
  height: 300px;
}
#style-5::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

#style-5::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}
tr.is-info {
  background: #167df0;
  color: #fff;
}
</style>